/* INICIO FOOTER */
/* Footer container */
.grid-container {
    display: grid;
    grid-template-columns: 20% 46% 34%;
    grid-template-rows: 270px;
    align-items: center;
    justify-items: center;
    padding: 3% 6% 4% 0%;
    background: linear-gradient(to top, black, #777676, white);
}

/* Footer Nav */
.grid-item1 li {
    padding: 8% 15%;
    list-style: none;
    justify-items: center;
    font-size: larger;
    font-weight: 600;
    color: black;


    a:hover {
        color: black;
        opacity: 0.7;
    }
}



.grid-item2 {
    padding: 2%;
    color: black;

    li {
        padding: 0.5% 10% 0% 15%;
        color:black;
        text-align: left;
        list-style: none;
        border-left: solid black thin;
        opacity: 1;
        
        a{
            color: white;
            &:hover{
                color: black;
                font-weight: 600;
                opacity: 0.8;
            }
        }
        
    }
    img {
        height: 150px;
        width: 350px;
        padding: 0.5% 10% 0% 0%;
        opacity: 100%;
    }
    .icono {
        width: 30px;
        height: auto;
        padding-right: 3%;
    }
}

.grid-item3 .mapa {
    height: 250px;
    width: 450px;
    border-radius: 1.3em;
    justify-items: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.534);
}

/* Linea Copyright */
.copyright {
    text-align: center;
    background-color: black;
    color: white;
    padding: 0.5%;
    
}
/* FIN FOOTER */