@import "variables";

/* INICIO MEDIA QUERY */
@media only screen and (max-width: 1000px) and (min-width:300px) { 
    header{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .section1 {
        background: white;
        .elementos-section1 .logo img{
            width: 100%;
            height: auto;
            padding: 10%;
          
          }
    }
    
    .carrusel{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        height: auto;
        img{
            border-radius: 5%;
            margin-bottom: 10%;
        }
        li,h5{
            list-style-type: none;
            color: white;
            font-weight: 600;
        }
    }
    
    .grid-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
    
        }
    
        .grid-item1 li {
            padding: 1%;
        }
    
        .grid-item2 li {
            border-left: none;
        }
    
        .grid-container {
            img{
            width: 100%;
            height: auto;
            text-align: center;
        }
        .grid-item3 iframe{
           width: 100%;
           height: auto;
           padding: 1% 1% 1% 1%;
        } 
         }
    
        .container-nosotros {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            grid-template-columns: 50% 50%;
            font-weight: 600;
            width: 100%;
            padding: 1%;
            background: linear-gradient(to right,$color-magenta-rychter, white);
            h2 {
                text-align: left;
                font-size: 60px;
                color: white;
                padding-left: 1%;
                
            }
            img {
                width: 90%;
                height: auto;
                opacity: 90%;
                border: solid 1px;
                margin-left: 5%;
                margin-bottom: 5%;
            }
        }
        
        .historia {
            padding: none;
            border-right: none;
        }
        
        .contacto-nosotros {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 2%;
            font-weight: 300;
        }
        
        .button-contacto {
            background-color: $color-magenta-rychter;
            color: white;
            width: 100px;
            height: 40px;
            border: solid 1px;
            margin: 1%;
            opacity: 90%;
        
        }

        .logos img {
            width: 80%;
            height: auto;
            opacity: 80%;
            border-radius: 50%;
        
        }
        
        .negrita {
            font-weight: 700;
        }
        
        .parrafo {
            padding: 3%;
        }
    
        .section1-ventas{
        background: linear-gradient(to right,$color-magenta-rychter, white);
        height: auto;
        padding: 3%;
    }
    
    .elementos-section1 h2{
        font-size: 50px;
        color: black;
        padding: 0% 10%;
    }
    
    .palabra-destacada{
        text-decoration: underline 10%;
        color: white;
        opacity: 90%;
    }
    
    .prop-ventas {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        padding:5%;
        background: linear-gradient(to bottom, rgb(80, 78, 79), white);  
    }
    
    .detalle{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        margin-top: 0%;
        padding:5%;
        background: linear-gradient(to top,$color-magenta-rychter, white);   
    }
    
    .prop img{
        border-radius: 10%;
    }
    
    .foto-detalle img{
       width: 90%;
       height: auto;
       padding: 3%;
       border-radius:10% ;
    }

    /* VENTAS Y ALQUILERES */
    
    .section1-ventas{
        background: linear-gradient(to right,$color-magenta-rychter, white);
        width: 100%;
        height: auto;
        padding: 1%;
    }
    
    .elementos-section1 h2{
        font-size: 20px;
        color: black;
        padding: 0% 10%;
    }
    
    .buscador{
        display: grid;
        width: 100%;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 50%;
        margin-top: 1%;
        margin-bottom: 10%;
       
    }
    
    .palabra-destacada{
        text-decoration: underline 10%;
        color: white;
        opacity: 90%;
    }
    .section2-ventas{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .prop-ventas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:1%;
        background: linear-gradient(to bottom, rgb(80, 78, 79), white);  
    }
    .prop-ventas h3{
        padding-top: 4%;
    }
    
    .detalle{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        margin-top: 0%;
        padding:5%;
        background: linear-gradient(to top,$color-magenta-rychter, white);   
    }
    
    .prop img{
        border-radius: 10%;
        width:100%;
    }
    
    .foto-detalle img{
       width: 90%;
       height: auto;
       padding: 3%;
       border-radius:10% ;
    }
     
    /* SERVICIOS */
    
    .servicios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1%;
    }
    
    .servicio {
        background: linear-gradient(to bottom, rgb(80, 78, 79), white);  
        width: 90%;
        height: 50%;
        text-align: center;
        border-radius: 10%;
        padding: 3%;
        margin: 3%;
        font-style: italic;
        h3{
            color: white;
        }
    }

    /* Whatsapp Sticky */
    .sticked img{
        width: 50px;
        height: auto;
        margin-left: 3%;    
        opacity: 80%;
    }
    }
    /*FIN MEDIA QUERY*/