@import "variables";
.container-servicios-index{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100%;
    width: 80%;
    margin: 0 auto;
    padding: 1%;
    column-gap: 5%;
    height: auto;  
    margin-bottom: 100px;
}
.container-servicios-index .servicio-1-index,.servicio-2-index,.servicio-3-index {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.534);
    &:hover{
        transform: translateY(-15px);
        h3{
            color: $color-magenta-rychter;
        }
        
    }
} 

.container-servicios-index .servicio-1-index img,.servicio-2-index img,.servicio-3-index img{ 
    padding: 5%;
}


.fondo-titulo-index{
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;  
    text-align: center;  
}


        
